.search {
  border: 1px solid #6b6a6a;
  color: rgb(230, 38, 38);
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 4rem;

  margin: 2rem 0;
  border-radius: 5rem;
  padding: 0.5rem;
}

.searchIcon {
  width: 2.2rem;
  height: 2.2rem;
  fill: #4f4f4f;
}

.search input {
  align-self: stretch;
  border: none;
  font-size: 1.6rem;
  color: inherit;
  background-color: transparent;
  width: 100%;
}

.search input::placeholder {
  font-size: 1.4rem;
  color: #797777;
}
.search input:focus {
  outline: none;
}
